<div class="header header-filter scraper-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title text-center scraper-title">{{title}}</h1>
                <h3 class="title text-center scraper-subtitle">{{subtitle}}</h3>
            </div>
        </div>
    </div>
</div>